@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');

*  {
    margin: 0px; 
    padding: 0px;
    border: 0px;

    transition: all 0.05s ease-in;
}

/* CABEÇLHO*/

header {
    background-color: gray;
    background-image: radial-gradient(circle, #f7e1e1, #5b5b79);
    
    box-shadow: inset 5px 5px 10px rgba(127, 182, 253, 0.699);
    padding: 5px;
    

    height: 100px;
    box-shadow: 3px 3px 10px rgba(255, 254, 254, 0.493), 
    inset 5px 5px 50px rgba(0, 0, 0, 0.5);
}

header h1 {
    text-align: center;
}
@media (max-width: 600px) { 
  header { 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  } 

  img { 
    width: 100%; 
    height: auto; 
  }
}

/* CORPO PRINCIPAL */
main{
    height: 80vh;
    background-image: url(../../assets/images/GridBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}    


main section{
    display: flex;

    width: 90%;
    height: 90%;

    margin-left: 20px;
    margin-top: 10px;
}
img{
    width:70vh;
    
}
.nome {
    position: absolute;
    margin-left: 220px;
    color:rgb(139, 114, 114);
}

.digimon-details{
    width: 50vw;
    height: auto;
    background-color: lightgray;
}

.Digimon h2{
    margin: 10px;
    font-size: clamp(25px, 3vw, 50px);
}

.Digimon p {
    margin: 10px;
    font-size: clamp(15px, 2vw, 30px);
}

.Digimon ul {
    list-style-type: none;
}

section div .nome {
    font-family: 'Geist Pixel', monospace;
}

/* RODAPÉ */
footer{
    height: 100px;
    padding: 10px;
    padding-top: 30px;
    background-color: rgba(79, 220, 224, 0.726);
    background-position: top;
    background-size: cover;
    box-shadow: inset 10px 10px 10px 1px rgb(226, 213, 215);
    text-align: center;
}

footer a {
    font-family: 'Geist Pixel', monospace;
    font-weight: bold;
    text-decoration: none;
    color: rgb(32, 41, 88);
    margin: 0px 10px 0px 10px;
}

footer a:hover {
    text-decoration: underline;

}

footer p {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.74);
}
.digimon{
    background-color: aquamarine;
}
.digmon-details{
width: 50vw;
height: auto;
background-color: lightgray;

}