*  {
  margin: 0px; 
  padding: 0px;
  border: 0px;
}

:root {
    --main-color: rgb(99, 99, 99);
    --secondary-color: rgba(255, 255, 255, 0.452);
}


/* Cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: inset 5px 5px 10px rgba(127, 182, 253, 0.699);
    padding: 5px;
    

    height: 100px;
    box-shadow: 3px 3px 10px rgba(255, 254, 254, 0.493), 
    inset 5px 5px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }
}

button{
    position:absolute;
}

img{
    position:relative;
}

header form {
    display: flex;
    gap: 5px;
    max-width: 80%;
    height: clamp(20px, 5vw, 30px);
}

header input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;

    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.774),
    inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

header input:focus {
    outline: none;
}

header button {
    position: relative;
    background-color: darkgreen;
    color: rgb(219, 38, 38);
    transition: 0.5s ease; 
    border-radius: 5px;
}


header button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color:rgb(22, 20, 20);
}

header img {
    width: 100px;
    height: auto;
}

li > a{
    text-decoration: none;
}
/* Corpo Principal */

main{
    height: 718px;
    background-color:black;
    width: 100%;  
}    

footer{
    height: 100px;
    background-color: brown;
    width: 100%;
    box-shadow: inset 3px 1px 3px 1px pink;
}

